[
  {
    "name": "自定义账号名称",
    "provider": "anyrouter",
    "cookies": {
      "session": "你的session值"
    },
    "api_user": "你的api_user值",
    "linux.do": [
      {
        "username": "你的用户名",
        "password": "你的密码"
      }
    ]
  },
  {
    "name": "使用全局账号",
    "provider": "wong",
    "linux.do": true,
    "github": true
  },
  {
    "name": "多个 Linux.do 账号",
    "provider": "x666",
    "linux.do": [
      {
        "username": "用户名1",
        "password": "密码1"
      },
      {
        "username": "用户名2",
        "password": "密码2"
      }
    ],
    "access_token": "来自 https://qd.x666.me/"
  }
]
